* {
    box-sizing:border-box;
  }

button{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color:black;
}

html{
    background-color: #D9E2E2;
}

.my-container{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    flex:1;
    width: 600px;
    height: 300px; 
    margin-top: 17%;
    word-wrap: break-word;
    align-items: center;
}
input{
    width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
  vertical-align: text-top;
  font-size: 20px;
}

#button-log{
    flex:2;
    border-style: none; 
    border-radius: 5px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #A8BEC0;
    width: 150px;
    height: 50px;
    margin-top:25px;
}
